openapi: 3.1.0
info:
  title: ATSDR Toxic Substance Profiles Exposure Investigations API
  description: The ATSDR Toxic Substance Profiles API provides access to toxicological profiles, minimum risk levels, and health guidance for hazardous substances. Data covers chemical hazards, health effects, exposure routes, and regulatory standards maintained by the Agency for Toxic Substances and Disease Registry.
  version: '1.0'
  contact:
    name: ATSDR
    url: https://www.atsdr.cdc.gov/contact.html
servers:
- url: https://data.cdc.gov/resource
  description: ATSDR Data via CDC Open Data Platform (Socrata)
- url: https://www.atsdr.cdc.gov/api
  description: ATSDR Direct API
tags:
- name: Exposure Investigations
paths:
  /exposure-investigations:
    get:
      operationId: list-exposure-investigations
      summary: ATSDR List Exposure Investigations
      description: List ATSDR exposure investigations and health consultations conducted at hazardous waste sites and other environmental contamination sites.
      tags:
      - Exposure Investigations
      parameters:
      - name: $limit
        in: query
        schema:
          type: integer
          default: 100
        description: Maximum number of results to return.
        example: 1
      - name: $offset
        in: query
        schema:
          type: integer
          default: 0
        description: Offset for pagination.
        example: 1
      - name: state
        in: query
        schema:
          type: string
        description: Filter by US state abbreviation.
        example: example_value
      - name: year
        in: query
        schema:
          type: integer
        description: Filter by investigation year.
        example: 1
      responses:
        '200':
          description: List of exposure investigations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExposureInvestigation'
              examples:
                ListExposureResponse:
                  summary: Exposure investigations list
                  value:
                  - site_name: Love Canal
                    state: NY
                    county: Niagara
                    year: 2022
                    investigation_type: Health Consultation
                    primary_contaminant: Multiple chemicals
                    status: completed
                  x-microcks-default: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ExposureInvestigation:
      type: object
      properties:
        site_name:
          type: string
          description: Name of the contaminated site.
          example: Example Name
        state:
          type: string
          description: US state abbreviation.
          example: example_value
        county:
          type: string
          description: County name.
          example: example_value
        year:
          type: integer
          description: Year of the investigation.
          example: 1
        investigation_type:
          type: string
          description: Type of investigation (Health Consultation, Public Health Assessment, etc.).
          example: example_value
        primary_contaminant:
          type: string
          description: Primary hazardous substance involved.
          example: example_value
        status:
          type: string
          enum:
          - completed
          - ongoing
          - pending
          description: Investigation status.
          example: completed
