openapi: 3.1.0
info:
  title: ATSDR Toxic Substance Profiles Exposure Investigations Toxicological Profiles API
  description: The ATSDR Toxic Substance Profiles API provides access to toxicological profiles, minimum risk levels, and health guidance for hazardous substances. Data covers chemical hazards, health effects, exposure routes, and regulatory standards maintained by the Agency for Toxic Substances and Disease Registry.
  version: '1.0'
  contact:
    name: ATSDR
    url: https://www.atsdr.cdc.gov/contact.html
servers:
- url: https://data.cdc.gov/resource
  description: ATSDR Data via CDC Open Data Platform (Socrata)
- url: https://www.atsdr.cdc.gov/api
  description: ATSDR Direct API
tags:
- name: Toxicological Profiles
paths:
  /toxprofiles:
    get:
      operationId: list-toxicological-profiles
      summary: ATSDR List Toxicological Profiles
      description: List ATSDR toxicological profiles for hazardous substances including health effects and exposure information.
      tags:
      - Toxicological Profiles
      parameters:
      - name: $limit
        in: query
        schema:
          type: integer
          default: 100
        description: Maximum number of results to return.
        example: 1
      - name: $offset
        in: query
        schema:
          type: integer
          default: 0
        description: Offset for pagination.
        example: 1
      - name: substance_name
        in: query
        schema:
          type: string
        description: Filter by substance name.
        example: Example Name
      - name: cas_number
        in: query
        schema:
          type: string
        description: Filter by CAS registry number.
        example: example_value
      responses:
        '200':
          description: List of toxicological profiles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToxProfile'
              examples:
                ListToxProfilesResponse:
                  summary: List of toxicological profiles
                  value:
                  - substance_name: Arsenic
                    cas_number: 7440-38-2
                    profile_year: 2007
                    substance_priority_list_rank: 1
                    health_effects: Carcinogen, cardiovascular, neurological effects
                    primary_route_of_exposure: ingestion
                    profile_url: https://www.atsdr.cdc.gov/toxprofiles/tp2.pdf
                  x-microcks-default: true
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ToxProfile:
      type: object
      properties:
        substance_name:
          type: string
          description: Name of the hazardous substance.
          example: Example Name
        cas_number:
          type: string
          description: Chemical Abstracts Service registry number.
          example: example_value
        profile_year:
          type: integer
          description: Year the toxicological profile was published or updated.
          example: 1
        substance_priority_list_rank:
          type: integer
          description: Rank on the ATSDR Substance Priority List.
          example: 1
        health_effects:
          type: string
          description: Summary of known health effects from exposure.
          example: example_value
        primary_route_of_exposure:
          type: string
          description: Most common route of exposure (ingestion, inhalation, dermal).
          example: example_value
        profile_url:
          type: string
          description: URL to the full toxicological profile PDF.
          example: https://example.com
